.sexy {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 10px;
    
    position: absolute;
    width: 320px;
    height: 55px;
    left: calc(50% - 320px/2);
    top: 980px;
    
    background: linear-gradient(90deg, #8456EC 3.25%, #E87BF8 100%);
    border-radius: 10px;

}
.heading {
    
    /* Imagine if had events. */


position: absolute;
width: 573.91px;
height: 192px;
left: 154.04px;
top: 0px;

font-family: 'Helvetica';
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 64px;
/* or 100% */

text-align: center;

color: #240D57;
    
}

.imagecs{
    position: absolute;
width: 311px;
height: 548.27px;
left: calc(50% - 311px/2 + 0.5px);
top: 379px;

background: url(image.png);
filter: drop-shadow(0px 0px 33.1283px rgba(0, 0, 0, 0.05));
border-radius: 24.8462px;
}

.headingText{
    /* Auto layout */

display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 16px;

position: absolute;
width: 880px;
height: 264px;
left: calc(50% - 880px/2);
top: 60px;

}

.backgroudn{
    background: #DDDDDD;
}

.smallText {
    width: 521px;
height: 56px;

font-family: 'Helvetica';
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 28px;
text-align: center;

color: #4F4F4F;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

.coolText {
    /* Snapchat */


position: absolute;
width: 880px;
height: 74px;
left: 0px;
top: 59px;

font-family: 'Helvetica';
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 74px;
/* identical to box height */

text-align: center;

background: linear-gradient(90deg, #8456EC 24.2%, #E87BF8 120.46%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}